@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue.otf");
}
body{
    font-family: "Helvetica Neue", sans-serif; !important;
    color: rgba(28, 53, 60, 1);
}

.background-container{
    /*min-height: calc(100vh - 50px);*/
    /*max-height: 950px;*/
    background: url("../img/login_background.jpg") fixed;
    background-size: cover;
    background-position: center center;
}

.form-container{
    font-size: 14pt;
    padding-top: 25vmin;
}

.logo-container{
    min-height: 5vh;
    max-height: 50px;
    background-color: rgba(26, 52, 59, 1);
}

.navbar{
    min-height: 5vh;
    max-height: 50px;
    background-color: rgba(26, 52, 59, 1);
    margin: auto auto;
}


.logo{
    height: 50px;
    min-width: 300px;
}



/*student*/


.student-logo-container{
    float: left;
    height: 5vh;
}

.student-logo{
    height: 100%;
}

#navbar{
    float: left;
    height: 50px;
}

.navbar-button{
    float: left;
    padding: 5px 10px 0 10px;
    height: 50px;
    font-size: 19pt;
    color: white;
    cursor: pointer;
}

.navbar-button:hover{
    background-color: rgba(35, 179, 169, 0.9);
}
.navbar-button a{
    color: white;
    text-decoration: none;
}



/*profile*/

.home-page-panel{
    margin: 10px;
}

.container{
    height: 95vh;
}

.tutor-page-container{
    min-height: 95vh;
}

/*profile*/
.avatar{
    min-width: 256px;
    min-height: 256px;
}
.profile-text{
    display: inline-block;
    font-size: 20pt;
}
.span2{
    min-width: 256px;
    width: 26%;
    float: left;
}
.span4{
    margin: 10px;
    min-width: 200px;
    width: 40%;
    float: left;
}
/*courses*/
.course-text{
    display: inline-block;
    font-size: 20pt;
    margin-left: 20px;
    margin-bottom: 0;
}

.course-button{
    float: right;
    margin-right: 20px;
}

.status{
    width: 5px;
    height: 40px;
    float: left;
}


.inprogress{
    background-color: rgba(254, 238, 154, 0.9);
}
.started{
    background-color: rgba(25, 130, 92, 0.9);
}
.finished{
    background-color: rgba(207, 80, 69, 1);
}

.register-container{
    min-height: 95vh;
    background-color: white;
    width: 50%;
    margin: 0 25% 0 25%;
}
.table-container{
    width: 70%;
    margin: 20px 15% 0 15%;
}
.header{
    font-size: 20pt;
    padding-top: 20px;
}
